.__prose {
    @apply prose 
    text-gray-900 
    prose-h1:text-gray-900 
    prose-h2:text-gray-900 
    prose-h3:text-gray-900 
    prose-h4:text-gray-900 
    prose-h5:text-gray-900 
    prose-h6:text-gray-900 
    prose-a:font-light 
    prose-a:text-cyan-400 
    prose-blockquote:font-normal 
    prose-blockquote:text-gray-600 
    prose-strong:font-medium 
    prose-strong:text-gray-900 
    prose-em:text-gray-900 
    prose-code:text-gray-700 
    prose-ol:text-gray-900 
    prose-ul:text-gray-900 
    prose-li:text-gray-900 
    dark:text-slate-200 
    dark:prose-h1:text-slate-200 
    dark:prose-h2:text-slate-200 
    dark:prose-h3:text-slate-200 
    dark:prose-h4:text-slate-200 
    dark:prose-h5:text-slate-200 
    dark:prose-h6:text-slate-200 
    dark:prose-blockquote:text-slate-300 
    dark:prose-strong:text-orange-500 
    dark:prose-em:text-cyan-500 
    dark:prose-ol:text-slate-200 
    dark:prose-ul:text-slate-200 
    dark:prose-li:text-slate-200;
}
