@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --toastify-color-success: rgb(16 185 129);
    --toastify-color-error: rgb(255 51 85);
    --toastify-color-warning: rgb(245 158 11);
    --toastify-color-info: rgb(6 182 212);
    --toastify-color-dark: rgb(30 41 59);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
    @apply outline-none;
}

html {
    @apply h-full;
}

body {
    @apply h-full overflow-x-hidden bg-gray-100 text-sm font-light dark:bg-gray-900;
}

:focus-visible {
    outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

/* Customize scroll bar */
* ::-webkit-scrollbar {
    width: 16px;
}

* ::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: rgba(96, 96, 96, 0.5);
}
* ::-webkit-scrollbar-thumb:hover {
    background-color: #606060;
}

@media screen and (max-width: 768px) {
    * ::-webkit-scrollbar {
        width: 12px;
    }
}

.hidden-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.hidden-scrollbar::-webkit-scrollbar {
    display: none;
}
